/* Write your CSS here */
.task-container {
  background-color: #ffffff;
  margin: 20px;
  border-radius: 12px;
  width: 50vw;
  padding: 20px;
}
.lef-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
